@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2f2e2e;
    padding: 0;
    margin: 0;
}
.dropdown {
  float: left;
  overflow:visible;
}

/* Dropdown button */
.dropdown .dropbtn {
  /* font-size: 16px; */
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
  border-radius: 10px;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #fbff00;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ceff00;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
  border-radius: 10px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fbff00;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.main1 {
  background-image: url("images/join.jpg");
  background-color: #00000085;
  background-position: top center;
  background-attachment:scroll;
  background-size: cover;
  height: auto;
  width: 100%;
}

.main1 div {
  height: 100%;
  width: 100%;
  background-color: #00000095;
  padding-top: 7%;
  padding-bottom: 7%;
}

.overlay {
  z-index: 2;
  position: fixed;
  height: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  margin-top: 0;
  transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-color: #2f2e2e;
  opacity: 1;
}

.mobiletb {
  /* display: none; */
  z-index: 9999999;
  position: fixed;
  height: 100%;
  width: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  margin-top: 0;
  transition: opacity .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-color: #0000006c;
  opacity: 0;
}

.mtbin {
  /* display: none; */
  z-index: 9999999;
  position: inherit;
  height: 100%;
  width: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  margin-top: 0;
  transition: all .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-color: #1f1f1f;
  opacity: 1;
  border-bottom-right-radius: 240px;
}

.show {
  width: 75%;
}

.mtbin li {
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 28px;
  height: auto;
  padding-left: 12px;
}
.mtbin ul {
  padding-top: 30%;
  list-style-type: none;
  display: none;
}

footer {
  height: auto;
  background-color: #747474;
  width: 100% ;
}
.contact {
  height: auto;
  background-color: #00000000;
}
.bottom {
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: #000;
}
.bottom div {
  width: 25%;
  height: auto;
}
.bottom div p {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-top: 0;
  padding: 5%;
}
.bottom div a {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-top: 0;
  padding: 0;
}

header {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 50px;
    color:white;
    text-align: center;
    transition: .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
h2,h3,h4,div {
    font-family: 'Roboto';
    font-weight: 700;
    color:white;
    text-align: center;
}
p, a {
    font-family: 'Roboto';
    font-weight: 500;
    color:white;
    text-align: center;
}
p {
  font-size: 24px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 36px;
}
.video {
  width: 50vw;
  height: 50vh;
}

.sotayellow {
  color: #ceff00;
}
.dark {
  color: black;
}
.large {
  font-size: 72px;
}
.faster {
  transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.mission {
  margin-top: 120px;
  width: 50%;
  margin-left: 25%;
}
.teamseg, .otheraw, .fees {
  margin-top: 70px;
  width: 60%;
  padding: 20px;
  margin-left: 20%;
  margin-bottom: 60px;
}

.fees div {
  padding: 12px;
  width: 30%;
}

.fees {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
}

.otheraw {
  width: 75%;
  margin-left: 12.5%;
}
.otheraw ul li {
  width: 100%;
  margin-bottom: 12px;
  height: max-content;
  text-align: left;
}
.align-left {
  /* float: left; */
  padding-left: 16%;
  width: 100%;
  text-align: left;
}

.contact.mc {
  height: auto;
  display: flex;
  padding: 16px;
  padding-bottom: 0;
}
.contact p {
  margin: 0;
}
.contact {
  padding: 20px;
}
.social-link svg, .social-link img {
  height: 35px;
  width: 35px;
  margin: 16px;
  fill: #fff;
}
.social-link {
  text-decoration: none;
}
.btn {
  background-color: #ceff00;
  border: none;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  border-radius: 12px;
  margin: 16px;
  }

.comps {
  width: 65%;
  height: auto;
  padding: 40px;
  display: grid;
  grid-column: 1;
  grid-row: 6;
  margin-left: 17.5%;
}
.comp {
  width: 100%;
  height: auto;
  display: flex;
  margin: 24px 0 24px 0;
}
.comp img {
  width: 50%;
  overflow: hidden;
  border-radius: 12px;
  object-fit: cover;
}
.comp div {
  width: 50%;
}
.comp div p, .comp div h3 {
  width: 100%;
  height: auto;
  padding: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #fbff00;
}

.sponsor {
  transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 1;
  padding-top: 30px;
  width: 30%;
  height: auto;
  margin: 16px;
}

@media screen and (max-width:1206px) {
  .tbt header {
    font-size: 30px;
  }
  .tbtext {
    margin-top: 35px;
  }
}

@media screen and (max-width:525px) {
  .tbt header {
    font-size: 20px;
  }
}

.pageactive {
  text-decoration: underline;
  font-weight: 900;
}


.tabs a.lines {
  display: none;
  color: black;
  padding: 0;
  align-items: center;
  padding-top: 16px;
}

@media screen and (max-width:965px) {

  .tabs a.lines {
    display: block;
  }

  .tabs a.dark {
    display: none;
  }
  .tabs a.sp {
    display: none;
  }
}

.topbar {
    height: auto;
    width: 100%;
    z-index: 9900;
    background-color: white;
    position: sticky;
    top: 0;
}

.topbar img {
  min-width: 20px;
  max-width: 145px;
  height: min-content;
  align-self: center;
  z-index: 0;
}
.clip {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  z-index: 9901;
}
.over {
  position: inherit;
  z-index: 9902;
  background-color: #00000000;
}

.gradient {
    height: 10px;
    background-image: linear-gradient(to right,red,darkblue);
    width: 100%;
}

/* .tabs a.lines {
  display: none;
  color: black;
} */
.tabs {
    height: 50px;
    background-color: #ceff00;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabs a {
  padding: 14px 16px;
    text-decoration: none;
    display:block;
    cursor: pointer;
}

.tbt {
    height: 160px;
    width: 100%;
    transition: .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}

.title {
    width: 65%;
    height: 100%;
}

li {
    width: 150px;
    height: 24px;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    align-items: center;
    position: relative;
    margin-top: 25px;
    width: 60vw ;
    height: auto;
    min-height: 480px;
    max-height: 35%;
    
    margin-left: 20%;
    margin-bottom: 5vh;
  }

  /* @media screen and (max-width: 1650px) {
    .container {
      height: 30vh;
    }
  }

  @media screen and (max-width:800px) {
    .container {
      height: 17vh;
    }
  } */
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 100%;
  }
  .mySlides img {
    height: 100%;
    width: 100%;
    /* margin-top: 50%; */
    object-fit:cover;
    margin-left: 0;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    right: 95%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    height: 90px;
    overflow: hidden;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
    overflow: hidden;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .calender {
    border: 0;
    width: 75%;
    height: 70vh;
    margin: 36px 0 36px 0;
  }

.horizontalsss-theme {
  padding: 16px; width: 40%; height: auto;
}
.verticalsss {
  width: 75%;  padding: 42px; height: auto;
}

@media screen and (max-width:500px) {
  .horizontalsss-theme {
    padding: 16px; width: 85%; height: auto;
  }
  .verticalsss {
    width: 150%;  padding: 42px; height: auto;
    margin-left: -25%;
  }
  .calender {
    border: 0;
    width: 75%;
    height: 35vh;
    margin: 36px 0 36px 0;
  }
  .large {
    font-size: 42px;
  }
  .video {
    width: 50vw;
    height: 25vh;
  }
  .align-left {
    padding-left: 12%;
  }
  header {
      font-family: 'Roboto';
      font-weight: 800;
      font-size: 36px;
      color:white;
      text-align: center;
      transition: .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  h2,h3,h4,div {
      font-family: 'Roboto';
      font-weight: 700;
      color:white;
      text-align: center;
  }
  p, a {
      font-family: 'Roboto';
      font-weight: 500;
      color:white;
      text-align: center;
  }
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .teamseg, .mission {
    margin-top: 70px;
    width:93%;
    padding: 20px;
    margin-left: 3.5%;
    margin-bottom: 60px;
  }
  .main1 {
    background-image: url("images/join.jpg");
    background-color: #00000085;
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: auto;
    width: 100%;
  }
  
  .main1 div {
    height: 100%;
    width: 100%;
    background-color: #00000095;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .teamdiv {
    padding-top: 2.5%;
    padding-bottom: 7%;
  }
  .social-link svg, .social-link img {
    height: 32px;
    width: 32px;
    margin: 6px;
    fill: #fff;
  }
  .bottom div p, .bottom div a {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  .fees div {
    padding: 12px;
    width: 100%;
  }
  
  .fees {
    width: 80%;
    margin-left: 10%;
    display: block;
    justify-content: space-around;
  }
  
.comps {
  width: 95%;
  height: auto;
  padding: 40px;
  display: grid;
  grid-column: 1;
  grid-row: 6;
  margin-left: 2.5%;
}
.comp {
  width: 100%;
  height: auto;
  display: flex;
  margin: 24px 0 24px 0;
}
.comp img {
  width: 50%;
  overflow: hidden;
  border-radius: 12px;
  object-fit: cover;
}
.comp div {
  width: 50%;
}
.comp div p, .comp div h3 {
  width: 100%;
  height: auto;
  padding: 10px;
}
}